* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  text-align: center;
}

.container {
  // 100vh - nav - footer - margin-top - margin-bottom
  min-height: calc(100vh - 56px - 56px - 20px - 20px);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.table-list {
  margin-bottom: 20px;
}

.actions-header {
  width: 20%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.page-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  select {
    max-width: 200px;
  }

  button {
    width: 10%;
    border: 1px solid #ccc;

    i {
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sort-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
